In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("BBC News Train.csv")
df.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
import re

In [4]:
def cleaning(s):
    s = str(s)
    s = s.lower()
    s = re.sub('\s\W',' ',s)
    s = re.sub('\W,\s',' ',s)
    s = re.sub(r'[^\w]', ' ', s)
    s = re.sub("\d+", "", s)
    s = re.sub('\s+',' ',s)
    s = re.sub('[!@#$_]', '', s)
    s = s.replace("co","")
    s = s.replace("https","")
    s = s.replace(",","")
    s = s.replace("[\w*"," ")
    return s

In [5]:
df.keys()

Index(['ArticleId', 'Text', 'Category'], dtype='object')

In [6]:
df["Text"] = df["Text"].str.replace("strong>","")
df['Text'] = df['Text'].apply(cleaning)

In [7]:
X = df['Text']
encoder = LabelEncoder()
y = encoder.fit_transform(df['Category'])

In [8]:
X

0       worldm ex boss launches defence lawyers defend...
1       german business nfidence slides german busines...
2       bbc poll indicates enomic gloom citizens in a ...
3       lifestyle governs mobile choice faster better ...
4       enron bosses in m payout eighteen former enron...
                              ...
1485    double eviction from big brother model caprice...
1486    dj double act revamp chart show dj duo jk and ...
1487    weak dollar hits reuters revenues at media gro...
1488    apple ipod family expands market apple has exp...
1489    santy worm makes unwelme visit thousands of we...
Name: Text, Length: 1490, dtype: object

In [9]:
y

array([0, 0, 0, ..., 0, 4, 4])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
vectorizer = CountVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [18]:
X_train

<1192x21201 sparse matrix of type '<class 'numpy.int64'>'
	with 231177 stored elements in Compressed Sparse Row format>

In [12]:
# Naive Bayes
gnb = MultinomialNB()
gnb.fit(X_train, y_train)
gnb_score=gnb.score(X_test, y_test)
gnb_score

0.9865771812080537

In [13]:
import pickle

In [14]:
pickle.dump(gnb, open('gnb.pkl','wb'))

In [15]:
model = pickle.load(open('gnb.pkl', 'rb'))

In [16]:

article = "fockers fuel festive film chart comedy meet the fockers topped the festive box office in north america  setting a new record for christmas day.  the sequel took $44.7m (Â£23.2m) between 24 and 26 december  according to studio estimates. it took $19.1m (Â£9.9m) on christmas day alone  the highest takings on that day in box office history. meet the fockers is the sequel to ben stiller comedy meet the parents  also starring robert de niro  blythe danner  dustin hoffman and barbra streisand. despite the success of meet the fockers  takings were down 26.5% on 2003 s figures - which was blamed on christmas falling over a weekend this year.   when christmas falls on a weekend  it s bad for business   said paul dergarabedian  president of exhibitor relations  which compiles box office statistics. the weekend s top 12 films took an estimated $121.9m (Â£63.3m)  compared with $165.8m (Â£86.1m) last year  when the third lord of the rings film dominated the box office. meet the fockers knocked last week s top film  lemony snicket s a series of unfortunate events  down to third place  with $12.5m (Â£6.5m). comedy fat albert - co-written by bill cosby - entered the chart in second place after opening on christmas day  taking $12.7m (Â£6.6m). the aviator  starring leonardo dicaprio as howard hughes  took $9.4m after expanding from 40 to 1 796 cinemas on christmas day."

In [17]:
prediction = model.predict(article)

ValueError: Expected 2D array, got scalar array instead:
array=fockers fuel festive film chart comedy meet the fockers topped the festive box office in north america  setting a new record for christmas day.  the sequel took $44.7m (Â£23.2m) between 24 and 26 december  according to studio estimates. it took $19.1m (Â£9.9m) on christmas day alone  the highest takings on that day in box office history. meet the fockers is the sequel to ben stiller comedy meet the parents  also starring robert de niro  blythe danner  dustin hoffman and barbra streisand. despite the success of meet the fockers  takings were down 26.5% on 2003 s figures - which was blamed on christmas falling over a weekend this year.   when christmas falls on a weekend  it s bad for business   said paul dergarabedian  president of exhibitor relations  which compiles box office statistics. the weekend s top 12 films took an estimated $121.9m (Â£63.3m)  compared with $165.8m (Â£86.1m) last year  when the third lord of the rings film dominated the box office. meet the fockers knocked last week s top film  lemony snicket s a series of unfortunate events  down to third place  with $12.5m (Â£6.5m). comedy fat albert - co-written by bill cosby - entered the chart in second place after opening on christmas day  taking $12.7m (Â£6.6m). the aviator  starring leonardo dicaprio as howard hughes  took $9.4m after expanding from 40 to 1 796 cinemas on christmas day..
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.